*{
    margin: 0%;
    padding: 0%;

}

.banner-container{
    display: flex;
    height: 98vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E554731A;
    padding: 60px 80px 0px 50px;
}
.banner-desc{
    padding: 50px;
    text-align: left;
    justify-content: space-evenly;
    
}
.banner-img{
    margin-bottom: none;

}
.flower-banner{
    height: 570px;
    width: 400px;
    margin-bottom: 0%;
}
.banner-header{
    margin-bottom: 15px;
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;

}
.banner-massage{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    gap: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
.btn{
    display: inline-flex;
    padding: 10px 33px;
    align-items: flex-start;
    gap: 10px;
    background-color: #E55473;
    border: none;
    color: white;
}
.featured-container{
    width: 100vh;
    display: contents;
    justify-content: center;
    
}
.featured-img{
    display: flex;
    justify-content: center;
    gap: 5px;
    
}
.featured-flower1{
    width: 300px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
}
.featured-flower2{
    width: 300px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
}
.featured-flower3{
    width: 300px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
}
.Flower{
    width: 250px;
    height: 300px;
    margin: 35px  30px;
}

.featured-desc > p,h2{
    text-align: center;
}
.featured-desc {
    margin-top: 100px ;
}
.featured-header{
    font-weight: 900;
}
.featured-para{
    font-size: 12px;
    padding: 30px;
}
.order-section{
    display: flex;
    height: 30vh;
    margin-top: 170px;
    width: 100%;
    background-color: rgba(39, 39, 39, 0.05);;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 72%;
    margin-left: 180px;
}
.sign-up-container{
    display: flex;
    justify-content: space-around;
    height: 65vh;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 60px;

}
.sign-flower{
    height: 250px;
    width: 200px;
}
.sign-desc{
    text-align: center;
    margin-left: 150px;
}
.Off{
    color:#E55473;
}
.sign-header{
    margin-bottom: 15px;
}
.sign-para{
    margin-bottom: 15px;
    font-size: 12px;
}
.sign-img{
    margin-right: 150px;
}
.instagram{
    text-align: center;
    margin-top: 80px ;
    margin-bottom: 40px;
}
.instagram-head{
    margin-bottom: 20px;
}
.instagram-para{
    font-size: 12px;
}
.instagram-img{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 70%;
    align-items: center;
    margin-left: 150px;
}
.instagram-img-flower{
    height: 260px;
    width: 270px;
    margin: 10px;
}
.deals-section{
    background-image: url(./Flower-Asset/Rectangle\ 9.png);
    height: 50vh;
    text-align: center;
    margin-top: 50px;
    width: 80%;
    margin-left: 130px;
}